// Fonts

$font: 'Noto Sans';

// Colors

$color-light-grey: lighten(#DCDCDC, 10);
$color-black: #121212;
$color-blue-klein: #1F37FD;
$color-blue-klein-faded-1: #B6BEE3;
$color-blue-klein-faded-2: #98A6E9;
$color-new-green: #00ffbf;

// Grid

$grid-width: 20vw;