.about {
	&.active {
		.grid-column {
			.content {
				opacity: 1;
				transform: translateX(0%);
				transition: transform 0.5s ease-out opacity 1s ease-out;
				transition-delay: 0.5s, 1s;
			}
		}
	}

	.grid-column {
		transition: 0.5s;
		flex-shrink: 0;

		&.social {
			justify-content: flex-end;
			padding-bottom: 10rem;
			
			a {
				padding: 0.5rem 0;
				font-size: 0.8rem;
				padding-left: 0rem;
				transition: 0.3s;
				font-style: italic;

				&:hover {
					padding-left: 1rem;
					transition: 0.3s;
					color: $color-blue-klein;
				}
			}
		}

		&.picture {
			padding-top: 8rem;
			img {
				width: 400px;
				height: 400px;
				filter: grayscale(1);
				transition: 0.3s;
				
				&:hover {
					filter: grayscale(0.5);
					transition: 0.3s;
				}
			}
		}

		.content {
			opacity: 0;
			transform: translateX(-100%);
			transition: 0.5s;

			h1 {
				font-size: 2rem;
				cursor: default;
				overflow: hidden;
				height: 2.5rem;

				span { 
					display: block;
					transition: 0.2s;

					&:nth-child(2) {
						font-style: italic;
					}
				}

				&:hover {
					span { 
						transform: translateY(-2.5rem); 
						transition: 0.2s;
					}
				}
			}

			article {
				margin-bottom: 4rem;
			}
		}
	}

	.time {
		position: absolute;
		bottom: 2rem;
		right: 2rem;
		font-weight: bold;
		font-size: 1.5rem;
		letter-spacing: 0.3rem;
	}
}
