.row, .column {
	display: flex;

	.center {
		justify-content: center;
		align-items: center;
	}

	.justify-end {
		justify-content: flex-end;
	}

	.align-end {
		align-items: flex-end;
	}
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}