.grid-layout {
	background-position-x: calc(-#{$grid-width} / 5 * 3);
	background-size: $grid-width 0%;
	background-image: linear-gradient(to left, rgba(grey, 0.4) 1px, transparent 1px);
	padding-left: calc(#{$grid-width} / 5 * 2);
	transition: background-size 1s ease-in;
    background-repeat: repeat-x;
    
    &.active {
        background-size: $grid-width 100%;
		transition: background-size 0.5s ease-in;
	}
	
	.grid-column {
		width: $grid-width;
		padding: 1rem;
		overflow: hidden;
		flex-shrink: 0;

		&.double {
			width: calc(2 * #{$grid-width});
		}

		&.no-gutter {
			padding: 0;
		}
	}

	.grid-row {
		flex-shrink: 0;
	}
}