#app {
	background-color: $color-light-grey;
	width: 100%;
	min-height: 100vh;
	color: $color-black;
}

body { 
	background-color: $color-light-grey; // MacOS overscroll
}

a.external-link {
	font-weight: bold;
	// color: $color-blue-klein-faded-2;
	color: transparent;
	// font-style: italic;
	font-size: 1.5rem;
	-webkit-text-stroke: 1px $color-black;
	position: relative;
	text-align: right;

	&::before {
		content: '';
		background-color: $color-black;
		height: 1px;
		width: 100%;
		position: absolute;
		top: 100%;
		transition: 0.3s;
	}

	&::after {
		content: attr(data-text);
		color: $color-black;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		transition: 0.3s;
		white-space: nowrap;
	}

	&:hover {
		&::after {
			height: 0;
			transition: 0.3s;
		}

		&::before {
			background-color: $color-blue-klein-faded-2;
			transition: 0.3s;
		}
	}
}