.ctn-project {
	align-items: center;
	max-width: 640px;
	width: 100%;
	cursor: pointer;
	transform: translateX(-50%);
	opacity: 0;
	transition: 0.5s;

	&.active {
		transform: translate(0%);
		opacity: 1;
		transition: 0.5s;
	}

	&:hover {
		transition: 0.5s;
		transform: translateX(2.5rem);

		.key::before {
			transition: 0.25s;
			left: -1.25rem;
		}

		.key::after {
			transition: 0.5s;
			left: -2.5rem;
		}

		.content .ctn-title .title::after {
			width: 100%;
			transition: 0.5s;
		}
	}

	.key {
		font-size: 6rem;
		font-weight: bold;
		margin-right: 1rem;
		flex-shrink: 0;
		position: relative;
		// color: transparent;
		// -webkit-text-stroke: $color-black 1px;

		&::before, &::after {
			content: '0';
			position: absolute;
			top: 0;
			left: 0;
			color: $color-blue-klein;
			opacity: 0.2;
			z-index: -1;
		}

		&::before {
			transition: 0.25s;
		}

		&::after {
			transition: 0.5s;
		}
	}

	.content {
		flex-grow: 1;

		.ctn-title {
			align-items: center;
			.title {
				font-weight: bold;
				font-size: 3rem;
				flex-shrink: 0;
				margin-right: 1rem;
				color: $color-black;
				// color: transparent;
				// -webkit-text-stroke: $color-black 1px;
				position: relative;

				&::after {
					content: attr(data-text);
					position: absolute;
					top: 0;
					left: 0;
					color: rgba($color-blue-klein, 0.5);
					background-color: $color-light-grey;
					white-space: nowrap;
					overflow: hidden;
					width: 0%;
					transition: 0.5s;
				}
			}

			.stroke {
				height: 1px;
				background-color: $color-black;
				flex-grow: 1;
				transition: 0.3s;
			}

			.date {
				margin-left: 1rem;
				flex-shrink: 0;
			}
		}

		.sub {
			width: 100%;
			justify-content: space-between;

			.tags {
				.tag {
					font-style: italic;
					&:not(:last-child) {
						margin-right: 0.5rem;
					}
				}
			}
		}
	}
}